---
const { name, description, parts, url, image,tools } = Astro.props;
---

<a
  href={url}
  aria-disabled={url === undefined}
  target="_blank"
  class="relative bg-white flex flex-col items-stretch duration-300 ease-out p-7 sm:p-3 group h-100 rounded-2xl"
>
<span
    class={`absolute inset-0 z-10 block w-full h-full duration-300 ease-out  border rounded-2xl border-neutral-300 dark:border-neutral-600 ${
        url === undefined ? '' : 'group-hover:-translate-x-1 group-hover:-translate-y-1 group-hover:opacity-50 group-hover:border-[#ffdc5d]'
    }`}
></span>
<span
    class={`relative z-30 block duration-300 ease-out  ${
        url === undefined ? '' : 'group-hover:-translate-x-1 group-hover:-translate-y-1   '
    }`}
>
    <span class={`block w-full   ${url === undefined ? '' : 'group-hover:opacity-50 border-[#ffdc5d]' }`}>
    <img src={image} class="w-full h-auto rounded-lg aspect-[16/9] " />
    </span>
    
    {url !== undefined && (
        <svg
            class="w-0 h-0 transition-transform duration-300 ease-out text-neutral-999 group-hover:w-6 group-hover:h-6 absolute inset-0 m-auto bottom-40"
            fill="currentColor"
            viewBox="0 0 24 24"
            aria-hidden="true"
        >
            <path
                fill-rule="evenodd"
                d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"
                clip-rule="evenodd"
            ></path>
        </svg>
    )}
    <span class="block w-full px-1 mt-5 mb-1 sm:mt-3">
      <span
        class="flex items-center mb-0 text-base font-semibold tracking-tight text-neutral-900 dark:text-neutral-100"
      >
        <span>{name}</span>
      </span>
      <span class="text-sm font-medium text-neutral-800"
        >{description}</span
      >
      <div class="">
        {parts.map((part)=>(
            <span class="text-sm text-neutral-600 dark:text-neutral-400">
              • {part}
            </span> <br/>
        ))}
      </div>
        <div class="mt-3">
            {tools.map((tool) => (
            <span class="inline-block   w-auto h-auto px-3 py-1 uppercase tracking-widest  text-[0.6rem] border rounded-full bg-white  text-neutral-600">
            <p class="leading-none ">{tool}</p>
                </span>
            ))}
        </div>
    </span>
  </span>
</a>

<style>
  .fade-in {
    opacity: 1 !important;
  }
</style>

